<div class="question-wrapper" id="{{ question._id }}">

<h3>{{ question.question }}</h3>
<div class="{{ question.difficulty }}">{{ question.difficulty }}</div>
<div class="gear" ng-click="toggleShow(question)">
  <img src="/styles/assets/gear.svg" alt="">
</div>
<ul>
  <li ng-repeat="option in question.options"> <!-- Repeated for each option -->
    <label>
      <input type="radio" name="{{ question }}" ng-click="checkAnswer(question, option)">
      {{ option }}
    </label>
  </li>
</ul>

</div>

<!-- Modal -->
